<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/" style="color:#696969;">Home</a></li>
		        	<li><a href="/research" style="color:#696969;">Research</a></li>
	        		<li><a href="/cv" style="color:#696969;">CV</a></li>
	        		<li><a href="/teaching" style="color:#696969;">Teaching</a></li> 
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:sihui.ong@queensu.ca" style="color:#000000;>sihui.ong@queensu.ca</a></li>
	        		<li><a href="https://github.com/sihuiong" style="color:#000000; >github.com/sihuiong</a></li>
				</ul>
			</footer>
		</body>
	</html>
